{% extends 'home.html.twig' %}

{% block title %}Voice Actors{% endblock %}

{% block body %}
    <div class="container mt-lg-5">
        <div class="row row-cols-3 g-4">
            {% for character in pagination %}
                <div class="col">
                    <div class="card text-center">
                        <div class="card-body">
                            <figure>
                                <h5 class="card-title">{{character.getMovieTitle}}</h5>
                                <h6 class="card-subtitle">{{character.getVoiceActor}}</h6>
                            </figure>
                            <p class="blockquote-footer mt-2">
                                character: <cite title="Source Title">{{ character.getCharacterName }}</cite>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <div class="d-flex justify-content-between mt-2">
        <div>
            {{ pagination.getTotalItemCount }}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
   </div>
{% endblock %}
